<html lang="en">
<head>
   <meta charset="UTF-8">
  <title>A</title></head>
<script src="https://unpkg.com/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>
<script src="https://unpkg.com/file-saver@2.0.2/dist/FileSaver.js"></script>
<body>
<div class="grid-container" id="mainGrid">
  {% for row in rows %}
    <div class="grid-row">
      {% for entry in row %}
        <div class="grid-entry">
          <img class="grid-image" src="{{ entry.filename }}.png">
        </div>
      {% endfor %}
    <div class="album-name-list">
  {% for album in row %}
    <div class="album-row">
      {{ album.artist }} - {{ album.title }}
    </div>
  {% endfor %}
</div>
    </div>

  {% endfor %}


</div>

</body>
<style>
  .grid-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: black;
  }
  .grid-row {
    display: flex;
    flex-direction: row;
  }
  .album-name-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    justify-content: flex-start;
    overflow: hidden;
    margin-left: 20px;
  }

  .album-row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .grid-entry {
    background-color: whitesmoke;
    height: 150px;
    width: 150px;
    margin: 2px;
    flex-shrink: 0;
  }

  .grid-image {
    height: 100%;
    width: 100%;
  }
</style>
<script language="JavaScript">
  window.onload = () => {
    const node = document.getElementById('mainGrid');
    if (!node) {
      return;
    }
    domtoimage.toBlob(node)
            .then((blob) => {
              saveAs(blob, 'my-node.png');
            });
  }
</script>
</html>


